.nav-img {
  height: 4rem;
  width: 8rem;
}
  /* navbar.css */

/* Style the search input to increase its width */
.form-control {
  width: 35rem; /* You can adjust the width as needed */
  border-radius: 20rem; /* Add border-radius to make it curved */
}
.flex {
  display: flex;
}
form .flex {
  justify-content:center;
}