.nav-img {
  height: 4rem;
  width: 8rem;
}
  /* navbar.css */

/* Style the search input to increase its width */
.form-control {
  width: 35rem; /* You can adjust the width as needed */
  border-radius: 20rem; /* Add border-radius to make it curved */
}
.flex {
  display: flex;
}
form .flex {
  justify-content:center;
}
.nav-link{
  margin-left: 4rem;
}
.navbar-nav .nav-link:hover {
  color: #edba16;; /* Change the text color to yellow on hover */
  text-decoration: underline; /* Add a yellow underline on hover */
}
.sign_in {
  background-color:#edba16;
  color: white;
  border-radius: 1rem;
  padding:0.5rem;
  width: 120px;
  display: flex; /* Use Flexbox to control the button's layout */
  justify-content: center; /* Center the content (text) horizontally */
  align-items: center;
}
 .navbar-nav .sign_in:hover{
  color: black;
}
